.App-header {
    background-color: #37ABEC;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
}