#title {
  text-align: center;
  font-size: 36px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.spinner-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Use the full height of the viewport */
  width: 100%; /* Use the full width (optional, depending on your layout) */
}


#tabs-container {
  position: fixed;
  top: 150px;
  max-height: calc(100vh - 150px); /* Adjust the value based on your layout */
  overflow-y: auto; /* Add a scrollbar if the content exceeds the max-height */
  box-sizing: border-box;
  border-radius: 15px;
  font-family: FreeMono, monospace;
}