#title {
  text-align: center;
  font-size: 36px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.spinner-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Use the full height of the viewport */
  width: 100%; /* Use the full width (optional, depending on your layout) */
}
#lbutton-container {
  position: fixed;
  top: 70px;
  left: 40px;
}

#rbutton-container {
  position: fixed;
  top: 70px;
  right: 40px;
}

#tabs-container {
  position: fixed;
  top: 150px;
}