#title {
    text-align: center;
    font-size: 36px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

#lbutton-container {
    position: fixed;
    top: 70px;
    left: 40px;
  }

#rbutton-container {
    position: fixed;
    top: 70px;
    right: 40px;
}

#tabs-container {
    position: fixed;
    top: 150px;
}