.Welcome { /* app is going to be synonymous with homepage*/
    text-align: center;
    background-size: cover;
    height: 85vh;
}
.Welcome-header{
    align-items: center;
}
.button{
    border-radius: 25px;
    border-color:#37ABEC;
    width: 220px;
    height: 40px;
    display:flex;
    font-size: large;
    font-family: 'Arial Black','serif';
    background-color: #37ABEC;
    color: white;
    text-shadow: 2px 2px grey;
    text-align: center;
    margin: auto;
}

.Charts-right
{
    height: 80vh;
    width: 70vw;
    display: inline-flex;
    position:absolute;
    border-radius: 25px;
    /*background-color:darkgray;*/
    left:0;
}

.Mid-text p3{
    display:inline-block;
    font-size: 15px;
    font-weight: bold;
    text-align:center;
    margin-left:10px;
}

.container1 {
    border-radius: 15px;
    background: #d3dded;
    /*background: #222;*/
    display:flex;
    flex-wrap: wrap;
    order: 5;
    width:auto;
    height: 75%;
    max-height: 75%;
    max-width: 100%;
    justify-content: space-evenly;
}
.container2{
    border-radius: 15px;
    background: #d3dded;
    display:flex;
    flex-wrap: wrap;
    order:0;
    width: 92%;
    margin:10px;
    height: 98%;
    color:black;

}
.container2-1{
    border-radius: 15px;
    background: #ced9d1;
    margin: 10px;
    padding-top:5%;
    padding-bottom: 5%;
    transition: transform 0.3s ease;
    font-family: FreeMono, monospace;
    font-stretch: ultra-condensed;
    font-size:smaller;
    width: 95%;
    max-height: 55%;

}

.container1-1{

    max-width: 50%;
}
.container1-2{
    /*background-color: white;*/
    max-width: 50%;
}
.container2-1-1{
    border-radius: 15px;
    background: #eddec5;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
    overflow:hidden;
    font-size:smaller;
    padding:5px;
    height:auto;
    width:98%;
}
a:link{
    text-decoration: none!important;
    color:black;
}
.container3{
    border-radius: 15px;
    background: #d3dded;
    display:flex;
    flex-wrap: wrap;
    padding:10px;
    margin-top: 10px;
    margin-bottom:10px;
    order:4;
    flex:3;
    max-width: 100%;
    height:auto;
    color:black;
}

.container2-1:hover{
    transform:scale(1.05);
}
.flexwrapcolumn {
    display: flex;
    flex-direction: column;
    height: 100%;
    /*background-color: white;*/
    width:80%;
}
.expand{
    transition: transform 0.3s ease;
}
.expand:hover{
    transform:scale(1.05);
}

.container4{
    display:flex;
    width:80%;
    margin:10px;
}

