.Welcome { /* app is going to be synonymous with homepage*/
    text-align: center;
    background-size: cover;
    height: 85vh;
}
.Welcome-header{
    align-items: center;
}
.button{
    border-radius: 25px;
    border-color:#37ABEC;
    width: 220px;
    height: 40px;
    display:flex;
    font-size: large;
    font-family: 'Arial Black','serif';
    background-color: #37ABEC;
    color: white;
    text-shadow: 2px 2px grey;
    text-align: center;
    margin: auto;
}

.Charts-right
{
    height: 45vh;
    width: 45vw;
    display: inline-flex;

}

.Mid-text p3{
    display:inline-block;
    font-size: 15px;
    font-weight: bold;
    text-align:center;
    margin-left:10px;
}

.container1 {
    border-radius: 15px;
    background: #d3dded;
    /*background: #222;*/
    display:flex;
    flex-wrap: wrap;
    order: 1;
    margin: 10px;
    text-align:center;
    padding-bottom: 20px;
    padding: 20px;
    width:20vw;
}
.container2{
    border-radius: 15px;
    background: #d3dded;
    display:flex;
    flex-wrap: wrap;
    order:0;
    margin: 10px;
    width: auto;
    height: 80vh;
}
.container2-1{
    border-radius: 15px;
    background: #ced9d1;
    margin: 10px;
    padding-top:2vh;
    padding-bottom: 8vh;
    transition: transform 0.3s ease;
    overflow:hidden;
    font-family: FreeMono, monospace;
    font-stretch: ultra-condensed;
    font-size: large;
}
.container2-1-1{
    border-radius: 15px;
    background: #eddec5;
    margin: 10px;
    transition: transform 0.3s ease;
    overflow:hidden;
    font-size:medium;
    padding:20px;

}

.container3{
    border-radius: 15px;
    background: #d3dded;
    display:flex;
    flex-wrap: wrap;
    position:relative;
    padding:20px;
    order:4;
    flex:3;
    margin: 10px;
    width: 40vw;
}

.container2-1:hover{
    transform:scale(1.1);
}
.flexwrapcolumn {
    display: flex;
    flex-direction: column;
    min-height: 82vh;
}
.expand{
    transition: transform 0.3s ease;
}
.expand:hover{
    transform:scale(1.05);
}


