.Welcome { /* app is going to be synonymous with homepage*/
    text-align: center;
    background-size: cover;
    height: 85vh;
}
.Welcome-header{
    align-items: center;
}
.button{
    border-radius: 25px;
    border-color:#37ABEC;
    width: 220px;
    height: 40px;
    display:flex;
    font-size: large;
    font-family: 'Arial Black','serif';
    background-color: #37ABEC;
    color: white;
    text-shadow: 2px 2px grey;
    text-align: center;
    margin: auto;
}

.Charts-right
{
    height: 45vh;
    width: 45vw;
    display: inline-flex;

}

.Mid-text p3{
    display:inline-block;
    font-size: 15px;
    font-weight: bold;
}
