table {
  width: 100%;
  border-radius: 15px;
  margin:10px;
  background-color: #e3a871;
  border-collapse: collapse;
  overflow-x:hidden;
  border: 20px;
  border-color: black;
}

th {
  padding-left: 129px;
  padding-right: 129px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

}
td{
  width: 33vw;
}
table:hover{
  transform:scale(1.1);
  border-radius: inherit;

}
.expenses{
  
}