table {
  width: 100%;
  border-collapse: collapse;
  border-radius:0 0 50px 50px;
  background-color: blueviolet;
  margin-bottom: 20px;
  border: 50px;
  border-color: black;
}

th {
  padding-left: 129px;
  padding-right: 129px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}