table {
  width: 100vw;
  border-collapse: collapse;
  border-radius:0 0 50px 50px;
  background-color: orange;
  margin-bottom: 20px;
  border: 50px;
  border-color: black;
  align-items: center;
}

th {
  padding-left: 129px;
  padding-right: 129px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  
}
td{
  width: 34vw;
}
.expenses{
  
}