nav {
    background-color: #37ABEC; /* Set background color */
    width: 100vw;
    max-height: 10vh;

}

ul {
    list-style-type: none; /* Removes the default list styling */
    display: flex; /* Aligns items horizontally */
    align-items: center; /* Centers items vertically */
    padding: 0; /* Removes default padding */
}

.Name{
    display: inline-block; /* Make the text inline-block */
    vertical-align: top; /* Vertically align the text within the line */
    font-family: 'Arial Black', 'serif';
    text-shadow: 1px 1px gray
}
.nav-link {
    margin-right: 5vw; /* Add right margin to create spacing between links */
    margin-left: 7vw;
    padding-top: 10px;
}


